html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  text-decoration: none;
  color: #512200;
  padding: 1rem;
  border: 3px solid #9a816d;
  border-radius: 8px;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #9a816d;
  color: #512200;
}

.btn {
  display: inline-block;
  background-color: #785439;
  color: #f0eee8;
  border-radius: 8px;
  padding: .4em .75em .5em;
  font-size: 1.125rem;
}

.link-card:hover .btn {
  background-color: #512200;
  color: #f0eee8;
}

.btn-wrap {
  text-align: center;
  margin: 0;
}

.info {
  border-bottom: 2px solid #9a816d;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin: 0 0 1rem;
  padding: 0;
}

.info p {
  margin: 0 0 1rem;
  font-size: 1rem;
}

.list {
  padding: 0;
  margin: 0 0 1rem;
  font-size: .875rem;
  border-bottom: 2px solid #9a816d;
}

.list dl {
  margin: 0;
  padding: 1rem;
  padding-left: 0;
}

.list dd {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 6em;
}

.list dt {
  display: inline-block;
  min-width: 9em;
}
